[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
notebook = "*"
pandas = "*"
sklearn = "*"
category-encoders = "*"
numpy = "*"
matplotlib = "*"
seaborn = "*"
plotly = "*"
xgboost = "*"
graphviz = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.9"
